<% if (project.environment === 'production') { %>
    <div>
        <script
                async
                data-uid="3e3126f064"
                src="https://thoughtful-inventor-7842.ck.page/3e3126f064/index.js"
        ></script>
    </div>

<% } %>
