<header>
  <h1 class="text-4xl my-0">
    <a class="font-bold site-name flex items-center justify-center" href="/">
      <img class="logo" alt="Logo" src="/assets/images/logo.png" />

      <%= site.title %>
    </a>
  </h1>
</header>
