<header class="flex items-center">
  <h1 class="text-4xl my-0">
    <a class="font-bold site-name flex items-center" href="/">
      <img class="logo" alt="Logo" src="/assets/images/logo.png" />

      <%= site.title %>
    </a>
  </h1>

  <div class="flex justify-end flex-grow">
    <nav class="flex main-navigation">
      <a class="p-4 hidden sm:block" href="/free-angular-code-review/" target="_blank">
        Book a Code Review
      </a>

      <a class="p-4 hidden sm:block" href="https://thoughtful-inventor-7842.ck.page/3e3126f064" target="_blank">
        Newsletter
      </a>

      <a class="p-4" href="/contacts.html">
        Contacts
      </a>
    </nav>
  </div>
</header>
