<header>
    <div>
        <h1 class="text-4xl">
            <%= site.title %>
        </h1>

        <h2 class="text-gray-800 text-lg">
            <%= site.description %>
        </h2>
    </div>
</header>
