<script src="https://zedform-sdk.web.app/tracking-sdk.umd.js"></script>
<script
  src="https://zedform-sdk.web.app/sdk.umd.js"
  async
  data-formtoro
></script>
<div data-formtoro-form="10844c24-0314-4c31-8272-9e00dafdd0ec"></div>
