---
permalink: /contacts.html
title: Contacts
---

<div class="container mx-auto py-8">
    <%- include /layouts/header.ejs %>

    <div class="mt-8 posts-list">
        <h1 class="text-4xl">Contacts</h1>
    </div>

    <div>
        <p>
            For any enquiry, please send us an email to <a href="mailto:coaching@angularbites.com">coaching @ angularbites.com</a>
        </p>
    </div>

    <div class="mt-8">
        <p>
            If you're looking for coaching/review, please book a free consultation below:
        </p>

        <div class="calendly-inline-widget" data-url="https://calendly.com/angular-bites" style="min-width:320px;height:900px;"></div>
    </div>
</div>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
