@tailwind base;
@tailwind components;
@tailwind utilities;

html .container {
  max-width: 750px;
}

html a {
  transition: all 0.25s;
}

body {
  border-top: 5px solid #f56565;
}

html a:hover {
  color: #f56565;
}

html hr {
  @apply my-6;
}
