@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.logo img {
  width: 5rem;
  height: auto;
}

.site-name {
  font-family: 'Architects Daughter', cursive;
}

html .container {
  max-width: 750px;
}

html a {
  transition: all 0.25s;
}

body {
  border-top: 6px solid #f56565;
}

html a:hover {
  color: #f56565;
}

html hr {
  @apply my-6;
}
