@tailwind base;

a {
  @apply text-blue-700 font-bold;
  text-decoration: none;
}

@tailwind components;
@tailwind utilities;

html .container {
  max-width: 750px;
}

html a {
  border-radius: 0.35rem;
  transition: all 0.25s;
}

html a:hover {
  background-color: rgba(255, 235, 59, 0.4);
}

html hr {
  @apply my-6;
}
