@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-sans mb-2;

  font-size: 5rem;
  font-weight: bold;
  width: 1050px;
  position: relative;
  left: -150px;
  text-align: center;
}

.post h2 {
  @apply font-semibold text-3xl mt-8 pb-3;
}

.post h3 {
  @apply font-semibold text-2xl mt-8 pb-2 font-sans;
}

.post p {
  @apply leading-8 text-lg mb-5 font-serif;

  color: var(--color);
}

.post pre {
  margin: 2rem 0;
}

.post ul {
  list-style: circle;
  @apply pl-10 pb-3 mb-3;
}

.post li {
  @apply leading-8 text-lg my-2 font-serif;

  color: var(--color);
}

.post .user-image img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.post pre:not([class]) {
  background: #efefef;
  padding: 1rem;
  margin: 2rem 0;
  overflow: auto;
  border-radius: 0.3em;
}

.post p > code,
.post li > code {
  background: #efefef;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.post .tag-item {
  @apply rounded mr-2 bg-red-500 px-2 py-1 text-white;
}

.post .tag-item:hover {
  @apply bg-red-600;
}

article section a {
  @apply underline;
}
