@tailwind base;
@tailwind components;
@tailwind utilities;

.post {
  max-width: 650px;
  margin: 0 auto;
}

.post .post-title {
  @apply font-sans mb-2;

  font-size: 4.5rem;
  font-weight: 700;
  width: 1050px;
  position: relative;
  left: -250px;
  text-align: center;
}

@media (max-width: 768px) {
  .post .post-title {
    text-align: left;
    font-size: 2.25rem;
    width: 100%;
    left: auto;
  }
}

.post h2 {
  @apply font-semibold text-3xl pb-5 mt-8;
}

.post h3 {
  @apply font-semibold text-2xl mt-6 pb-2 font-sans;
}

.post h4 {
  @apply font-semibold text-xl mt-4 pb-2 font-sans;
}

.post p {
  @apply leading-8 text-lg mb-10 font-serif;

  color: var(--color);
}

.post pre {
  margin: 2rem 0;
}

.post ul {
  list-style: circle;
  @apply pl-10 pb-3 mb-3;
}

.post li {
  @apply leading-8 text-lg my-2 font-serif;

  color: var(--color);
}

.post li > p {
  @apply mb-2;
}

.post .user-image img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.post pre:not([class]) {
  background: #efefef;
  padding: 1rem;
  margin: 2rem 0;
  overflow: auto;
  border-radius: 0.3em;
}

.post p > code,
.post li > code {
  background: #efefef;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.post .tag-item {
  @apply rounded mr-2 bg-red-500 px-2 py-1 text-white;
}

.post .tag-item:hover {
  @apply bg-red-600;
}

article section a {
  @apply underline;
}
